{% extends 'base.html' %}
{% block content %}
    <h1 style="font-size:500%;color:{{Theme.colors['white']}};margin-left:20%;">
        BUILD
    </h1>
    </br>
    <h1 style="font-size:500%;color:{{Theme.colors['white']}};margin-left:33%;">
        YOUR OWN
    </h1>
    </br>
    <h1 style="font-size:500%;color:{{Theme.colors['white']}};margin-left:60%;">
        WORLD
    </h1>
    </br>
    <button type="button" class="btn btn-dark" onclick="window.location.href='/dashboard'" style="width:30%;height:25%;background-color:{{Theme.colors['primary']}};margin-top:5%;margin-left:35%;font-size:500%;border-radius:100px;">CREATE!</button>
{% endblock %}